body {
  font-family:  Noto Sans JP,-apple-system,BlinkMacSystemFont,Segoe UI,Meiryo,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}
